<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Date</th>
            <th scope="col">Mode</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <%appointments.forEach(result => {%>
            <tr>
                <th scope="row"><%= result.PatientData[0].firstname%> <%=result.PatientData[0].lastname%></th>
                <td><%= result.PatientData[0].email %></td>
                <td><%= result.PatientData[0].age %></td>
                <td><%= result.PatientData[0].gender %></td>
                <td><%= result.patient_height %></td>
                <td><%= result.patient_weight %></td>
                <td><%= result.patient_symptoms %></td>
                <td><%= result.ScheduleData[0].date %></td>
                <td><%=result.ScheduleData[0].mode %></td>
                <td><%= result.ScheduleData[0].start_time %>-<%= result.ScheduleData[0].end_time %></td>
                <td><button type="button" class="btn btn-success btn-sm"
                   
                   onclick="window.location.href = '/D_dashboard/cancelAppointment/<%= result._id %>'"
                  >Cancel</button></td>
               
            </tr>
            <%})%>
        </tbody>
      </table>
</body>
</html>